.gridContainer {
	position: relative;
	display: grid;
	grid-template-rows: repeat(2, auto);
	align-items: center;

	padding: 50px 5vw;
}

#text {
	width: 90%;

	text-align: center;
	margin: auto;
}

#header {
	text-align: center;
}

#imageContainer {
	display: block;
	
	width: 500px;
	height: 500px;
	
	background-color: black;
}

/*Desktop CSS*/
@media only screen and (min-width: 1024px) {
	.gridContainer {
		grid-template-columns: repeat(2, auto);

		margin: 40px;
	}
}

