.card {
    width: 50vw;
    height: 70vw;

    margin: 50px auto;
    padding: 40px 20px;

    border: #9696964d 1px solid;
    border-radius: 30px;

    text-align: center;

    background-color: #e1e9f0;
    color: rgba(24, 41, 54, .95);
}

#cardLogo {
    width: 40%;
    text-align: center;
}

#cardText {
    margin-top: 50px;
    font-size: 7vw;
}

/*Desktop CSS*/
@media only screen and (min-width: 1024px) {

    .card {
        width: 20vw;
        height: 30vw;

        padding: 40px 20px;
        margin: 20px;

        text-align: center;
    }
    #cardLogo {
        width: 40%;
        text-align: center;
    }

    #cardText {
        margin-top: 50px;
        font-size: 2vw;
    }

    #smallCard {
        width: 15vw;
        height: 25vw;
    }
}
