body {
	color: rgba(24, 41, 54, .95);

}

.hero {
	background-image: url("../images/mud.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	height: 100vh;

	text-align: center;
}

#reposition {
	display: grid;
	align-content: center;
}

#title {
	font-size: calc(20px + 2.6vw);
}

/*Mobile CSS*/
@media only screen and (max-width: 1024px) {
	#reposition {
		background-color: rgba(255, 255, 255, .3);


		height: 100vh;
	}
}

/* Desktop CSS */
@media only screen and (min-width: 1024px) {
	#reposition {
		position: absolute;
		top: 220px;
		left: 150px;
	}

	#title {
		font-size: 3vw;
	}

}

