body {
	color: rgba(24, 41, 54, .95);

}

.hero {
	background-image: url("../images/mud.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	height: 100vh;
}

#title {
}

