body {
	color: rgba(24, 41, 54, .95) !important;
}

.hero {
	height: 100vh;

	background-image: linear-gradient(rgba(0, 0, 0, 0) 0%, #e1e9f0 50%, rgba(0, 0, 0, 0) 100%), url("../images/tools.jpg");
	background-color: rgba(255, 255, 255, .5);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

#reposition {
	height: 100%;
	display: grid;
	align-content: center;
	text-align: center;
}

#title {
	font-size: 20vw;
}

@media only screen and (min-width: 1024px) {
	.hero {
		background-image: linear-gradient(to right, #e1e9f0 50%, rgba(0, 0, 0, 0) 80%), url("../images/tools.jpg");
	}

	#title {
		font-size: 15vw;
	}

	#reposition {
		text-align: revert;
	}
}

