#serviceContainer {
    grid-template-rows: auto auto auto;
}

#servicesText {
    text-align: center;
}

#servicesSection {
    background-color: #3b3b3b;
    color: white;
    padding: 50px;
}

/*Desktop CSS*/
@media only screen and (min-width: 1024px) {
    #serviceContainer {
        display: grid;
        grid-template-columns: auto auto auto;

        justify-content: center;
        align-items: end;
    }
}