#serviceContainer {
    grid-template-rows: auto auto auto;
}

#servicesText {
    text-align: center;
}

#servicesSection {
    background-color: rgba(24, 41, 54, .95);
    color: #e1e9f0;

    padding: 50px;
}

/*Desktop CSS*/
@media only screen and (min-width: 1024px) {
    #serviceContainer {
        display: grid;
        grid-template-columns: auto auto auto;

        justify-content: center;
        align-items: end;
    }
}